	
@font-face {
    font-family:'Bebas';
    src: url('../fonts/BebasNeue-webfont.ttf');
}

@font-face {
		 font-family:'Monte';
    src: url('../fonts/Montepetrum bold.ttf');

	}
	
	@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
	
	*{margin-top:0;}
 body{
 	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #e0e3ec url(../imagenes/bg.jpg) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #393b40;
	overflow-y: scroll;
	margin-top: 0;
	margin-left:0;
	
}
table {
border-collapse:0;
border-spacing:0;
}
    #marco{
	
	
	}
	
	#box{
	width:100%;
	height:150px;
    position:relative;
    box-shadow: 0 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    }
    
 #box:hover{
  background:#000; 
-webkit-transform: scale(1.1);      
 -ms-transform: scale(1.5);
 transform: scale(1.5);
 transition-duration: 0.5s;
}
       
       
	#barra{
	width:95%;
	height:4px;
	position:relative;
	}
	
	.gris{
	background:#5b6163;
	}
	
	.red{
	background:#e5582b;
	
	}
	.blue{
	background:#39b4e0;
	}
	.green{
	background:#aacc5b;
	}
	
	.title{
	color:#5b6163;
	font-family: Monte,Arial, Helvetica, sans-serif;
	font-size: 32px;
	}
	
	h1{
        text-shadow: 0px 1px 1px ;
	color:#5b6163;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 38px;
	}
	
	img{
	padding-top:20px;
	}
	
	a{
	font-style: italic;
	color:#666;
	text-decoration:none;
	font-size: 16px;
	}
	
	a:hover{
	color:#000;
	text-decoration:none;
	}
	
	
	