	
@font-face {
    font-family:'Bebas';
    src: url('../fonts/BebasNeue-webfont.ttf');
}

@font-face {
		 font-family:'Monte';
    src: url('../fonts/Montepetrum bold.ttf');

	}
	
	@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{margin-top:0;}
 body{
 	font-family: 'Arial Narrow', Arial, sans-serif;
   background: #e0e3ec url(../imagenes/bg.jpg) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #5b6163;
	overflow-y: scroll;
	margin-top: 0;
	margin-left:0;	
}

html {
 overflow-x:hidden;
}

table {
border-collapse:0;
border-spacing:0;
}
  