
#msg{
position:adsolute;
color: #b94a48;
font-weight:bold;
font-size:12px;
font-family: Arial, Helvetica, sans-serif; 
text-shadow: 0 1px 0 white;
}
.olvidoPass{
font-family: 'Arial',Arial Narrow, sans-serif;
text-decoration:none;
font-size: 14px;
color:#0089e1;
margin-bottom: 0px;  
text-shadow: 0 1px 0 white;
}
 .olvidoPass:hover{
font-size: 14px;
color: #2575CF;
margin-bottom: 0px;
text-shadow: 0 1px 0 white;
 }
.button {
font-family: Arial, Helvetica, sans-serif;   
color: #FFF;
text-decoration: none;
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 0px solid rgba(0,0,0,0.25);
position: relative;
cursor:pointer;
font-size:24px;
width: 67%;
padding: 10px 10px 10px 10px; 
background-color: #0089e1;
} 
.button :hover{
 background-color: #2575CF;    
}
.button:active{ 
top: 1px;
}
/**********************CUERPO************************/
#cuerpo{
    width:90%;
    height:auto;
    background-color:#fff;
    margin:auto;
    padding-left: 10%;
    padding-top: 15%;
}
.separador{
   position:absolute;
   width: 14px;
   height: 45%;
   margin-left: 40%;
   background-color: #c9c9c9;
   float:left;
}

.escudo{
  float:left; 
  position:relative;
}

#login{
 float:left; 
 position:relative;
 margin-left: 10%;
 width: 40%;
 padding-left: 10%;
}

#login h1{
    color:#444444;
    font-size: 60px;
   text-shadow: 0 1px 0 white;
    font-family: 'Arial narrow', sans-serif;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

#login input{
  margin-top: 20px;  
}
#login button{
  margin-top: 20px;  
}

.cajaTexto{
                outline: none;
                width: 60%;
                padding: 15px 10px 10px 15px; 
		color: #000000; 
		font-family: Arial, Helvetica, sans-serif;   
		font-size: 24px; 
		border: 1px solid #c9c9c9 ;
}
.cajaTexto:focus{
                outline: 0;
		border: 1px solid #000000;
}

.mensaje{
    margin-top: 10px;
    color:#444444;
    font-size: 16px;
    text-shadow: 0 1px 0 white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0px 0px 0px 0px; 
}
/******************FIN CUERPO**************************/
/**********************FOOTER**********************/

#footer{
    width:100%;
    height:10%;
    background-color:#e62746;
    position:fixed;
    bottom:0px;
}

.logo{
    position: relative;
    margin-left: 3%;
    margin-top: -5%;
    float:left;
}

#opcionesFooter{
   position: relative;
    margin-left: 10%;
    margin-top: 1%; 
    float:left;
}
#opcionesFooter li{
    display: inline
      
}

#opcionesFooter li a{
    display: block;
    float: left;
    padding: 10px 20px;
    color: #ffd1d1;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Arial',Arial Narrow, sans-serif;
}

#opcionesFooter li a:hover {
    color:#fff;	     
}

/********FIN DE EL FOOTER*****************/

