
/* MENU VERDE */

.menuVerde{
    width:100%;
    padding:0;
    list-style:none;
    font-size:20px;
    border: 0px solid rgba(0,0,0,0.8);
}
 
.menuVerde li a{
    font-size:14px;
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    border-top: 0px solid rgba(255,255,255, 0.2);
    text-decoration:none;
    color: #666;
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding-top:10px;
    padding-bottom:10px;  
}
.menuVerde li a:hover{
background-color:  #aacc5b;
    color:#fff;
}
.menuVerde ul{
    margin:0;
    padding:0;
    list-style:none;
    height:0;
    overflow: hidden;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.menuVerde li:hover ul{
    height:120px;
    overflow-y:auto;
    overflow-x:hidden;
}
.menuVerde ul li a:hover {
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}


/* MENU AZUL */

.menuAzul{
    width:100%;
    padding:0;
    list-style:none;
    font-size:20px;
    border: 0px solid rgba(0,0,0,0.8);
}
 
.menuAzul li a{
    font-size:14px;
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    border-top: 0px solid rgba(255,255,255, 0.2);
    text-decoration:none;
    color: #666;
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding-top:10px;
    padding-bottom:10px;  
}
.menuAzul li a:hover{
background-color:  #0089e1;
    color:#fff;
}
.menuAzul ul{
    margin:0;
    padding:0;
    list-style:none;
    height:0;
    overflow: hidden;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.menuAzul li:hover ul{
    height:120px;
    overflow-y:auto;
    overflow-x:hidden;
}
.menuAzul ul li a:hover {
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}


/* MENU ROJO */

.menuRojo{
    width:100%;
    padding:0;
    list-style:none;
    font-size:20px;
    border: 0px solid rgba(0,0,0,0.8);
}
 
.menuRojo li a{
    font-size:14px;
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    border-top: 0px solid rgba(255,255,255, 0.2);
    text-decoration:none;
    color: #666;
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding-top:10px;
    padding-bottom:10px;  
}
.menuRojo li a:hover{
background-color: #e5582b;
    color:#fff;
}
.menuRojo ul{
    margin:0;
    padding:0;
    list-style:none;
    height:0;
    overflow: hidden;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.menuRojo li:hover ul{
    height:120px;
    overflow-y:auto;
    overflow-x:hidden;
}
.menuRojo ul li a:hover {
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}