/* 
    Document   : tablas
    Created on : 19/06/2013, 06:30:42 PM
    Author     : andy henry
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}
.tabla .modo1 {
font-size: 16px;
background: -moz-linear-gradient(top, #eeeeee , #cccccc);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee),  to(#cccccc));
color: #5b5b5b;
font-weight:bold;
}
.tabla .modo1 td {
padding: 3px;
border: 1px solid #cccccc;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #fff;
border-radius: 2px;
text-align:center;
}

#cebra:nth-child(even) { background: #dfdfdf}
#cebra:nth-child(odd) { background: transparent}

/***** FONDO DE MENU ******/
.fondo{
background-color: #ecf1f4; 
border: 1px solid #b0b4b6;
padding-left:5px;
padding-top:5px;
   
}


