/* 
    Document   : tablas
    Created on : 19/06/2013, 06:30:42 PM
    Author     : andy henry
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}
.tabla .modo1 {
font-size: 16px;
color: #434343;
font-weight:bold;
height: 35px;
text-shadow: 0 1px 0 white;

}
.tabla .modo1 td {
padding: 3px;
border-bottom: 5px;
border-bottom-color: #000;
border-bottom-style:solid; 
text-align:center;
}


/***** FONDO DE MENU ******/
.fondo{
background-color: #ecf1f4; 
border: 1px solid #b0b4b6;
padding-left:0px;
padding-top:0px;
   
}


