/* 
    Document   : docentes
    Created on : 24/06/2013, 09:07:18 AM
    Author     : andy henry
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#titulo-menu{
 background: -moz-linear-gradient(top, #eeeeee , #cccccc);
 background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee),  to(#cccccc));
padding-right: 3px; 
border: 1px solid #cccccc;
}


.contenedora-imagen{
width: 215px; 
height:199px;   
position: relative;   
}

.marco-foto-doc{     
width: 215px; 
height:199px; 
position: absolute;
background: url(../imagenes/marcoPerfilDoc.png) no-repeat;

}
.marco-foto-est{  
width: 215px; 
height:199px; 
position: absolute;
background: url(../imagenes/marcoPerfilEst.png) no-repeat;

}

.perfilDefecto{
width: 215px; 
height:199px; 
position: absolute;
background: url(../imagenes/perfilDefecto.png) no-repeat; 
left:45px; 
top: 35px;

}
.carga-pag{
width:100%; 
height:90%; 
}

.link-menu{
  color:#666;
  font-size: 15px;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.link-menu:hover{
 color:#000;  
}

/***** MENU ACORDEON VERTICAL ******/
#accordion {
 list-style: none;
 padding: 0 0 0 0;
 width: 60%;
 margin-left: 20%;
 margin-top:  10%;
 }
 #accordion div {
 display: block;
 font-size:16px;
 color:#000;
 cursor: pointer;
 padding: 5px;
 margin:0;
 background-color:transparent;
 background-position: right center;
 background-repeat:no-repeat;
 border-bottom: 1px solid #5b6163;
 }
 #accordion ul {
 background-color:transparent;
 list-style-type: none;
 display: none;
 /*background: #eff2f5 url(/images/stripes.png) repeat;*/
 }
 #accordion ul li {
 cursor: auto;
 padding: 5px;
 width: 80%;
 height: 50%;
 }
 