/* 
    Document   : docentes
    Created on : 24/06/2013, 09:07:18 AM
    Author     : andy henry
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#titulo-menu{
 background: -moz-linear-gradient(top, #eeeeee , #cccccc);
 background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee),  to(#cccccc));
padding-right: 3px; 
border: 1px solid #cccccc;
}


.contenedora-imagen{
width: 215px; 
height:199px;   
 position: relative;   
}

.marco-foto-doc{  
width: 215px; 
height:199px; 
position: absolute;
background: url(../imagenes/marcoPerfilDoc.png) no-repeat;

}
.marco-foto-est{  
width: 215px; 
height:199px; 
position: absolute;
background: url(../imagenes/marcoPerfilEst.png) no-repeat;

}

.perfilDefecto{
width: 215px; 
height:199px; 
position: absolute;
background: url(../imagenes/perfilDefecto.png) no-repeat; 
left:45px; 
top: 35px;

}
.carga-pag{
width:100%; 
height:90%; 
}

.link-menu{
  color:#666;
  font-size: 15px;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.link-menu:hover{
 color:#000;  
}
